<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading && !user">
    <p>There is no Notifications</p>
  </ion-grid>

  <ion-grid *ngIf="isLoading">
    <p>Loading...</p>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && user">
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label>
              <ion-text class="date"> YourName: {{user.yourName}} </ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text class="date"> UserName: {{user.userName}} </ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text class="date">Address: {{user.address}} </ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text class="date">Zone: {{user.zone}} </ion-text>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-label>
              <ion-text class="date">Mobile: {{user.mobile}} </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
