ion-img{
  object-fit: cover;
  width:auto;
  padding: 0%;
  margin: 0%;
  height: 350px;
}
.img{
  margin: 0%;
  padding: 0%;
}

ion-row
{
  margin-bottom: 10px;
}
.sawbar{
  text-align: center;
}

ion-card{
  background-color: white;
}
