
ion-content{

    --ion-background-color:#9FE6AF;
  
}

ion-label{
    text-align: center;
}

img{
    height: 400px;
}

ion-input {
    background: rgb(255, 255, 255);
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 1.5em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

ion-title{
    text-align: center;
}

ion-button
{
    margin-top: 15px;
}


